@import '../../assets/variables/scss_variables';

.About {
    width: 100%;
    z-index: 3;
    padding-bottom: 0;
    p {
        padding-bottom: 4rem;
    }
    .svgCtn {
        min-height: 160px;
        opacity: 1;
        text-align: right;
        transition: opacity 5s ease;
    }
    .hide {
        opacity: 0;
    }
}