@import '../../assets/variables/scss_variables';

.About {
    width: 100%;
    z-index: 3;
    .content {
        margin: 0 auto;
        max-width: 1100px;
        padding: 2rem 0;
        width: 100%;    
        h2 {
            padding-bottom: 4rem;
        }
        .svgCtn {
            text-align: right;
        }
    }
}

@media (max-width: 767px) { 
	.About {
        .content {
            padding: 1rem;
        }
	}
}

@media (max-width: 575px) { 
    .About {
        .content {
            h2 {
                text-align: center;
            }
        }
    }    
}