@import '../../assets/variables/scss_variables';

.project {
    display: flex;
    justify-content: center;
    &:nth-child(2n) {
        .projectScreen {
            order: -1;
            padding: 1.5rem 3rem 1.5rem 0;
        }
        .projectContent {
            padding: 1.5rem 0 1.5rem 3rem;
            .projectName, .projectTech {
                text-align: right;
            }
            .projectBtnCtn {
                justify-content: flex-start;
            }
        }
    }
    .projectScreen {
        filter: grayscale(1);
        height: 100%;
        max-width: 50%;
        min-height: 100%;
        order: 2;
        padding: 1.5rem 0 1.5rem 3rem;
        transition: filter 1s ease;
        width: 100%;
        &:hover {
            filter: grayscale(0);
        }
    }
    .projectContent {
        padding: 1.5rem 3rem 1.5rem 0;
        max-width: 50%;
        width: 100%;
        .projectName {
            color: $accent_color;
            font-size: 4rem;
            padding: 1.5rem 0 0 0;
            text-align: left;
        }
        .projectTech {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        .projectBtnCtn {
            display: flex;
            justify-content: flex-end;
            padding: 3rem 0 0 0;
            .projectBtn {
                color: var(--color);
                display: inline-block;
                font-size: 1.4rem;
                text-transform: uppercase;
                margin-right: 2rem;
                padding: 1.5rem 0;
                position: relative;
                transition: color 1.2s ease;
                &:after {
                    background-color: var(--color);
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    position: absolute;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .3s;
                    width: 100%;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

// repeated in Projects - check
.codeLink {
    border-radius: 50%;
    display: flex;
    height: 50px;
    transform: rotate(0);
    width: 50px;
    &:before {
        background-color: rgba($accent_color, .5);
        border-radius: 50%;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s;
        width: 0;
        z-index: -1;
    }
    &:hover:before {
        height: 4rem;
        width: 4rem;
    }
    &:hover {
        transition: transform .3s, background-color .3s;
        transform: rotate(-45deg);
    }
    span {
        background-color: var(--color);
        display: block;
        height: 3px;
        margin: auto;
        transform: translateX(0);
        transition: transform .3s, background-color .3s;
        width: 22px;
        &:before {
            background-color: var(--color);
            content: '';
            height: 3px;
            position: absolute;
            right: -2px;
            top: 2px;
            transform: rotate(-45deg);
            transition: background-color .3s;
            width: 8px;
        }
        &:after {
            background-color: var(--color);
            content: '';
            height: 3px;
            position: absolute;
            right: -2px;
            top: -2px;
            transform: rotate(45deg);
            transition: background-color .3s;
            width: 8px;
        }
    }
}

@media (max-width: 991px) { 	
    .project {
        display: unset;
        padding-bottom: 3rem;
        &:nth-child(2n) {
            .projectScreen {
                order: -1;
                padding: 3rem 0 1.5rem 0;
            }
            .projectContent {
                padding: 0;
                .projectName, .projectTech {
                    text-align: left;
                }
                .projectBtnCtn {
                    justify-content: flex-end;
                }
            }
        }
        .projectScreen {
            max-width: unset;
            width: 100%;
            min-height: unset;
            height: auto;
            order: -1;
            padding: 3rem 0 1.5rem 0;
        }
        .projectContent {
            max-width: unset;
            padding: 0;
            .projectName, .projectTech {
                text-align: left;
            }
            .projectBtnCtn {
                justify-content: flex-end;
            }
        }
    }
}