.techItem {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    grid-column-end: span 1;
    grid-row-end: span 1;
    text-align: center;
    .techItemImg {
        filter: grayscale(100%) contrast(150%);
        height: 6rem;
        transition: filter .3s;
        width: auto;
        &:hover {
            filter: grayscale(0%) contrast(100%);
        }
    }
    .techItemImg + .techItemName {
        font-weight: bold;
        opacity: 0;
        padding-top: 1rem;
        transition: opacity .3s;
    }
    .techItemImg:hover + .techItemName {
        opacity: 1;
    }
}

@media (max-width: 767px) { 
    .techItem {
        align-items: center;
        margin-left: unset;
        .techItemImg {
            height: 8rem;
        }
    }
}