@import '../../assets/variables/scss_variables';

.themeBtn {
    padding: 2rem;
    position: relative;
    color: var(--color);
    font-size: 2rem;
    margin-bottom: auto;
    text-align: center;
    &:after {
        background-color: rgba($accent_color, .5);
        border-radius: 50%;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s;
        width: 0;
        z-index: -1;
    }
    &:hover:after {
        height: 5rem;
        width: 5rem;
    }
}

@media (max-width: 767px) { 
    .themeBtn {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        &:hover:after {
            height: 6rem;
            width: 6rem;
        }        
    }
}