.otherProject {
    align-items: center;
    border-bottom: 2px solid #b0b3bb;
    color: var(--color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 2.5rem 0;
    text-align: left;
    transition: color 1.2s ease;
    width: 80%;
    &:focus, &:active {
        outline: none;
    }
    &:hover .codeLink {
        &:before {
            height: 4rem;
            width: 4rem;
        }
        & {
            transition: transform .3s, background-color .3s;
            transform: rotate(-45deg);
        }
    }
}