@import '../../assets/variables/scss_variables';

h2 {
    color: var(--color);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 7rem;
    letter-spacing: 0.3rem;
    line-height: 8rem;
    text-transform: uppercase;
    transition: color 1.2s ease;
}

.Home {
    align-items: center;
	display: flex;
	flex-flow: column;
    height: 100%;
	justify-content: center;
    h2 {
        cursor: crosshair;
    }
    .title {
        padding: 2rem;
        position: relative;
        &:after {
            background-color: rgba($accent_color_secondary, .05);
            border-radius: 50%;
            content: '';
            display: block;
            padding-bottom: 70%;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(20%, -30%);
            width: 70%;
            z-index: -1;
        }
        .titleGreeting {
            font-size: 4rem;
            line-height: 4rem;
            text-align: right;
        }
        .titlePosition {
            font-size: 2rem;
            text-transform: uppercase;		
        }
        .titleEmail {
            color: $accent_color;
            display: inline-block;
            padding: 0.5rem 0 1rem 0;
        }
        .titleArrow {
            background-color: $accent_color;
            height: 4px;
            margin-top: 1rem;
            position: relative;
            width: 100%;
            &::after, &::before {
                background-color: $accent_color;
                content: '';
                height: 4px;
                left: -4px;
                position: absolute;
                width: 21px;
            }
            &::after {
                top: -6px;
                transform: rotate(135deg);
            }
            &::before {
                top: 6px;
                transform: rotate(-135deg);
            }
        }
        .titleCta {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding: 2rem;
            position: relative;
            &:hover .arrow, &:hover .arrow::after, &:hover .arrow::before {
                animation-play-state: paused;
                background-color: $accent_color;
            }
            .titleCtaArrow {
                animation: moveArrow .8s infinite ease-in-out alternate;
                background-color: var(--color);
                height: 2px;
                position: relative;
                transform: translateX(0px);
                transition: background-color .3s;
                width: 18rem;
                &::after, &::before {
                    background-color: var(--color);
                    content: '';
                    height: 2px;
                    position: absolute;
                    right: -2px;
                    transition: background-color .3s;
                    width: 10px;
                }
                &::after {
                    top: -3px;
                    transform: rotate(45deg);
                }
                &::before {
                    top: 3px;
                    transform: rotate(-45deg);
                }
            }
            .titleCtaContent {
                padding-left: 3rem;
            }
        }
    }
}

// Arrow animation
@keyframes moveArrow {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(1.2rem);
	}
}

@media (max-width: 767px) { 
	.Home {
        min-height: calc(100vh - 5rem - 8rem);
	}
}

@media (max-width: 575px) { 
	h2 {
		font-size: 3.2rem;
		letter-spacing: 0.3rem;
		line-height: 5rem;
	}
	
    .Home {
        .title {
            &:after {
                content: unset;
            }
            .titleGreeting {
                font-size: 2rem;
                line-height: 2rem;
            }
            .titlePosition {
                font-size: 1.8rem;
            }
            .titleArrow {
                &::after, &::before {
                    width: 15px;
                }
                &::after {
                    top: -4px;
                }	
                &::before {
                    top: 4px;
                }
            }
            .titleCta {
                .titleCtaArrow {
                    width: 6rem;
                }
            }
        }
    }
}