@import '../../assets/variables/scss_variables';

h3 {
    color: var(--color);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    line-height: 8rem;
    padding: 1.5rem 0;
    transition: color 1.2s ease;
}

.Proyects {
    width: 100%;
    .title {
        color: rgba($accent_color, .5);
        height: 100%;
        left: 7rem;
        position: absolute;
        text-orientation: sideways;
        top: 0;
        transform: rotate(-180deg);
        width: 10rem;
        writing-mode: vertical-lr;
        &:before  {
            content: attr(data-point);
            display: block;
            font-size: 7rem;   
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
        }
    }
    .content {
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        max-width: 1100px;
        position: relative;
        width: 100%;
        h2 {
            text-align: right;
        }
        .proyect {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 7rem;
            position: relative;
            .proyectTextContent {
                padding: 3rem;
                width: 100%;
                .proyectName {
                    color: $accent_color;
                    font-size: 4rem;
                    left: -25%;
                    position: relative;
                    width: 125%;
                }
                .proyectTech {
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                .proyectBtnCtn {
                    display: flex;
                    padding: 3rem 0 0 0;
                    .proyectBtn {
                        color: var(--color);
                        display: inline-block;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        margin-left: auto;
                        margin-right: 2rem;
                        padding: 1.5rem 0;
                        position: relative;
                        transition: color 1.2s ease;
                        &:after {
                            background-color: var(--color);
                            bottom: 0;
                            content: "";
                            display: block;
                            height: 2px;
                            position: absolute;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform .3s;
                            width: 100%;
                        }
                        &:hover:after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
            .changeProyectBtnCtn {
                .changeProyect {
                    cursor: pointer;
                    right: 0;
                    padding: 3rem;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 5rem;
                    z-index: 3;
                    &:hover .titleCtaArrow::after, &:hover .titleCtaArrow::before {
                        background-color: $accent_color;   
                    }
                    &:hover .titleCtaArrow {
                        animation: moveArrow .8s infinite ease-in-out alternate;
                        transform: translateX(1.2rem);
                    }
                    &:active, &:focus {
                        outline: none;
                        .titleCtaArrow::after, .titleCtaArrow::before {
                            background-color: $accent_color;   
                        }
                    }
                    .titleCtaArrow {
                        // background-color: var(--color);
                        display: block;
                        transform: translateX(0);
                        transition: transform .3s, background-color .3s;
                        // width: 25%;
                        &::after, &::before {
                            background-color: var(--color);
                            content: '';
                            height: 3px;
                            position: absolute;
                            right: -7px;
                            transition: background-color .3s;
                            width: 30px;
                        }
                        &::after {
                            top: -7px;
                            transform: rotate(45deg);
                        }
                        &::before {
                            top: 13px;
                            transform: rotate(-45deg);
                        }
                    }
                }
                .changeProyect.left {
                    left: 0;
                    right: unset;
                    &:hover .titleCtaArrow {
                        animation: moveArrow .8s infinite ease-in-out alternate;
                        transform: translateX(-1.2rem);
                    }
                    .titleCtaArrow {
                        margin-right: 2rem;
                        &::after, &::before {
                            left: -7px;
                        }
                        &::after {
                            top: -7px;
                            transform: rotate(135deg);
                        }
                        &::before {
                            top: 13px;
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
            .proyectContent {
                .proyectScreen {
                    order: 2;
                }
            }
        }
    }
    .otherProjects {
        position: relative;
        min-height: 100vh;
        .otherProject {            
            align-items: center;
            border-bottom: 2px solid #b0b3bb;
            color: var(--color);
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            padding: 2.5rem 0;
            text-align: left;
            transition: color 1.2s ease;
            width: 80%;
            &:focus, &:active {
                outline: none;
            }
            &:hover .codeLink {
                &:before {
                    height: 4rem;
                    width: 4rem;
                }
                & {
                    transition: transform .3s, background-color .3s;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.codeLink {
    border-radius: 50%;
    display: flex;
    height: 50px;
    transform: rotate(0);
    width: 50px;
    &:before {
        background-color: rgba($accent_color, .5);
        border-radius: 50%;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s;
        width: 0;
        z-index: -1;
    }
    &:hover:before {
        height: 4rem;
        width: 4rem;
    }
    &:hover {
        transition: transform .3s, background-color .3s;
        transform: rotate(-45deg);
    }
    span {
        background-color: var(--color);
        display: block;
        height: 3px;
        margin: auto;
        transform: translateX(0);
        transition: transform .3s, background-color .3s;
        width: 22px;
        &:before {
            background-color: var(--color);
            content: '';
            height: 3px;
            position: absolute;
            right: -2px;
            top: 2px;
            transform: rotate(-45deg);
            transition: background-color .3s;
            width: 8px;
        }
        &:after {
            background-color: var(--color);
            content: '';
            height: 3px;
            position: absolute;
            right: -2px;
            top: -2px;
            transform: rotate(45deg);
            transition: background-color .3s;
            width: 8px;
        }
    }
}

@media (max-width: 992px) { 
	.Proyects {
        min-height: unset;
        .content {
            min-height: unset;
            .proyect {
                .proyectBg {
                    display: none;
                }
                .proyectContent {
                    flex-direction: column;
                    max-width: unset;
                    .proyectTextContent {
                        padding-right: 0;
                    }
                    .proyectScreen {
                        margin-bottom: 3rem;
                        margin-top: 0;
                        max-width: 100%;
                        order: 0;
                    }
                    .changeProyectBtnCtn {
                        max-width: unset;
                    }
                }
            }
        }
	}
}

@media (max-width: 767px) { 
	.Proyects {
        .title {
            display: none;
        }
        .content {
            padding: 1rem;
        }
	}
}

@media (max-width: 575px) { 
    .Proyects {
        .content {
            h2 {
                text-align: center;
            }
            .proyect {
                .proyectContent {
                    max-width: unset;
                    padding: 2rem;
                    .proyectTextContent {
                        .proyectBtnCtn {
                            padding: 3rem 0;
                            .proyectBtn {
                                display: block;
                                margin-bottom: 1rem;
                                padding: 1rem 0.75rem;
                                text-align: center;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }    
}