.projectScreen {
    border-radius: 3.5rem;
    filter: grayscale(1);
    height: 100%;
    order: 2;
    padding: 3rem;
    transition: filter 1s ease;
    width: 100%;
    &:hover {
        filter: grayscale(0);
    }
}

@media (max-width: 991px) { 
	.projectScreen {
        padding: 0;
        border-radius: 0.5rem;
	}
}