@import './assets/variables/scss_variables';

/* Header */
header {
	// background-color: var(--backgroundColor);
	height: 100vh;
	-webkit-transition: background-color 1s ease;
	position: fixed;
	transition: background-color 1s ease;
	width: 10rem;
	z-index: 2;
	.logo {
		background-color: $accent_color_secondary;
		border-radius: 0 0 50% 0;
		display: block;
		height: 7rem;
		text-align: center;
		width: 7rem;
		.logoText {
			color: $light_color;
			font-size: 4rem;
		}
	}	
	.burgerBtn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		margin-left: auto;
		padding: 0;
		width: 5.2rem;
		z-index: 2;
		.line {
			fill: none;
			stroke: black;
			stroke-width: 6;
			transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
			stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.line1 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
		.line2 {
			stroke-dasharray: 60 60;
			stroke-width: 6;
		}
		.line3 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
	}
	.burgerBtn.opened {
		.line1 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
		.line2 {
			stroke-dasharray: 1 60;
			stroke-dashoffset: -30;
			stroke-width: 6;
		}
		.line3 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
	}
	.nav {
		height: calc(100% - 7rem);
		max-height: 50rem;
		text-orientation: sideways;
		transform: rotate(-180deg);
		writing-mode: vertical-lr;
		.navList {
			display: flex;
			flex-direction: row-reverse;
			font-weight: bold;
			justify-content: space-between;
			padding: 7rem 2rem;
			text-transform: uppercase;
			.navLink {
				position: relative;
				&:before, &.currentNavLink:before {
					background-color: rgba($accent_color, .5);
					border-radius: 50%;
					content: '';
					height: 0;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: all .3s;
					width: 0;
					z-index: -1;
				}
				&:hover:before, &.currentNavLink:before {
					height: 4rem;
					width: 4rem;
				}
				&.currentNavLink:before {
					background-color: rgba($accent_color_secondary, .25);
					transition: all .3s;
				}
				&.currentNavLink:hover:before {
					background-color: rgba($accent_color, .5);
				}
			}
		}
	}
}

@media (max-width: 767px) { 
	header {
		align-items: center;
		display: flex;
		height: 5rem;
		padding-right: 2rem;
		width: 100vw;
		.logo {
			height: 5rem;
			width: 5rem;
			.logoText {
				font-size: 3rem;
			}
		}
		.mobileNav {
			background-color: var(--backgroundColor);
			box-shadow: -4px 2px 19px 1px rgba($dark_color, .15);
			-moz-box-shadow: -4px 2px 19px 1px rgba($dark_color, .15);
			-webkit-box-shadow: -4px 2px 19px 1px rgba($dark_color, .15);
			height: 100vh;
			position:absolute;
			right: 0;
			top: 0;
			width: 80%;
			z-index: 1;
			.navList {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: space-between;
				max-height: 40rem;
				padding: 10rem 2rem;
				text-transform: uppercase;
			}
		}
	}
}

// @media (max-width: 575px) { 

// }

/* Main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	min-height: 100vh;
	overflow-x: hidden;
	padding: 0 10rem;
	width: 100vw;
	z-index: 1;
}

@media (max-width: 767px) { 
	main {
		height: unset;
		// min-height: calc(100vh - 5rem - 10rem);
		// overflow: hidden;
		padding: 0 2rem;
		width: 100vw;
	}
}

/* Footer */
footer {
    align-items: flex-end;
	display: flex;
	flex-flow: column;
	height: 100vh;
	padding: 3rem;
	position: absolute;
	right: 0;
	z-index: 1;
}

@media (max-width: 767px) { 
	footer {
		bottom: 0;
		display: block;
		height: unset;
		padding: 2rem 3rem 2rem 2rem;
		top: unset;
		min-height: 6rem;
		position: relative;
	}
}