@import './assets/variables/scss_variables';

/* Header */
header {
	height: 100vh;
	left: 0;
	position: sticky;
	top: 0;
	transition: background-color 1s ease;
	width: 10rem;
	z-index: 5;
	.logo {
		background-color: rgba($accent_color_secondary, 0.05);
		border-radius: 0 0 50% 0;
		display: block;
		height: 7rem;
		text-align: center;
		width: 7rem;
		.logoText {
			color: var(--color);
			font-size: 4rem;
			transition: color 1.2s ease;
		}
	}	
}

@media (max-width: 767px) { 
	header {
		align-items: center;
		display: flex;
		height: 5rem;
		padding-right: 3rem;
		width: 100vw;
		.logo {
			height: 5rem;
			width: 5rem;
			.logoText {
				font-size: 3rem;
			}
		}
	}
}

/* Main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0 5rem;
	width: 100vw;
	section {
		padding: 5rem 0;
	}
}

@media (max-width: 767px) { 
	main {
		height: auto;
		min-height: unset;
		padding: 3rem 0;
		width: 100vw;
		section {
			padding: 5rem 3rem 5rem 2rem;
		}
	}
}

/* Footer */
footer {
    align-items: flex-end;
	display: flex;
	flex-flow: column;
	height: 100vh;
	padding: 3rem;
	position: sticky;
	top: 0;
	z-index: 2;
}

@media (max-width: 767px) { 
	footer {
		bottom: 0;
		display: block;
		height: unset;
		margin-top: auto;
		padding: 2rem 3rem 2rem 2rem;
		top: unset;
		min-height: 6rem;
		position: relative;
	}
}