@import './assets/variables/scss_variables';

/* Header */
header {
	height: 100vh;
	left: 0;
	position: sticky;
	top: 0;
	transition: background-color 1s ease;
	width: 10rem;
	z-index: 5;
	.logo {
		background-color: rgba($accent_color_secondary, 0.05);
		border-radius: 0 0 50% 0;
		display: block;
		height: 7rem;
		text-align: center;
		width: 7rem;
		.logoText {
			color: var(--color);
			font-size: 4rem;
			transition: color 1.2s ease;
		}
	}	
	.burgerBtn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		margin-left: auto;
		padding: 0;
		width: 5.2rem;
		z-index: 2;
		.line {
			fill: none;
			stroke: black;
			stroke-width: 6;
			transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
			stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.line1 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
		.line2 {
			stroke-dasharray: 60 60;
			stroke-width: 6;
		}
		.line3 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
	}
	.burgerBtn.opened {
		.line1 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
		.line2 {
			stroke-dasharray: 1 60;
			stroke-dashoffset: -30;
			stroke-width: 6;
		}
		.line3 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
	}
}

@media (max-width: 767px) { 
	header {
		align-items: center;
		display: flex;
		height: 5rem;
		padding-right: 2rem;
		width: 100vw;
		.logo {
			height: 5rem;
			width: 5rem;
			.logoText {
				font-size: 3rem;
			}
		}
	}
}

/* Main */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	min-height: 100vh;
	padding: 0 5rem;
	width: 100vw;
	section {
		padding: 5rem 0;
	}
}

@media (max-width: 767px) { 
	main {
		height: auto;
		min-height: unset;
		padding: 3rem 2rem 0 3rem;
		width: 100vw;
	}
}

/* Footer */
footer {
    align-items: flex-end;
	display: flex;
	flex-flow: column;
	height: 100vh;
	padding: 3rem;
	position: sticky;
	top: 0;
	z-index: 2;
}

@media (max-width: 767px) { 
	footer {
		bottom: 0;
		display: block;
		height: unset;
		margin-top: auto;
		padding: 2rem 3rem 2rem 2rem;
		top: unset;
		min-height: 6rem;
		position: relative;
	}
}