/* Normalize */
*, *::before, *::after {
	background-color: unset;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button:active, button:focus {
	border: none;
	cursor: pointer;
	/* outline: none; */
}

ul {
	list-style: none;
}

/* Base styles */
/* Theme variables */
html {
	font-size: 62.5%;
	--backgroundColor: #F3F6F4;
	--color: #0E1428;
}

html[data-theme='dark'] {
	--backgroundColor: #0E1428;
	--color: #F3F6F4;
}

body {
	background-color: var(--backgroundColor);
	color: var(--color);
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	max-height: 100vh;
	-webkit-transition: color 1.2s ease, background-color 1s ease;
	transition: color 1.2s ease, background-color 1s ease;
	overflow-x: hidden;
	width: 100vw;
}

button {
	font-family: 'Open Sans', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	font-size: 1.8rem;
}

p {
	font-size: 1.6rem;
}

h1, .srOnly {
	height: 0;
	text-indent: -1000rem;
	visibility: hidden;
	width: 0;
}

.root {	
	display: flex;
	flex-flow: row;
}

@media (max-width: 767px) { 
	.root {	
		flex-flow: column;
	}
}

@media (max-width: 575px) { 
	p, a {
		font-size: 1.6rem;
	}
}

/* 
// Medium devices (tablets, 768px and up)
@media (max-width: 767px) { ... }

// Large devices (desktops, 992px and up)
@media (max-width: 991px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1199px) { ... } */