/* Normalize */
*, *::before, *::after {
	background-color: unset;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button:active, button:focus {
	border: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

/* Base styles */
/* Theme variables */
html {
	--backgroundColor: #e4e6eb;
	--color: #18191a;
	font-size: 62.5%;
}

html[data-theme='dark'] {
	--backgroundColor: #18191a;
	--color: #e4e6eb;
}

body {
	background-color: var(--backgroundColor);
	color: var(--color);
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	max-height: 100vh;
	-webkit-transition: color 1.2s ease, background-color 1s ease;
	transition: color 1.2s ease, background-color 1s ease;
	overflow-x: hidden;
	width: 100vw;
}

::-moz-selection { /* Code for Firefox */
	color: #e4e6eb;
	background: #1C7293;
}

::selection {
	color: #e4e6eb;
	background: rgba(28, 114, 147, 0.7);
}

button {
	font-family: 'Open Sans', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	font-size: 1.8rem;
}

p {
	font-size: 1.6rem;
}

.srOnly {
	height: 0;
	text-indent: -1000rem;
	visibility: hidden;
	width: 0;
}

h1 {
	color: var(--color);
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 7rem;
	letter-spacing: 0.3rem;
	line-height: 0.8;
	padding: 1.5rem 0;
	transition: color 1.2s ease;
}

h2 {
	color: var(--color);
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-size: 6rem;
	letter-spacing: 0.3rem;
	line-height: 0.8;
	padding: 3rem 0;
	transition: color 1.2s ease;
}

h2.right {
	text-align: right;
}

h3 {
    color: var(--color);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    padding: 1.5rem 0;
    transition: color 1.2s ease;
}

@media (max-width: 575px) { 
	h1 {
		font-size: 6rem;
		letter-spacing: 0.3rem;
	}
	h2, h2.right {
		font-size: 5rem;
		letter-spacing: 0.3rem;
		padding-bottom: 5rem;
		text-align: center;
	}
}

.root {	
	display: flex;
	flex-flow: row;
    margin: 0 auto;
	max-width: 1400px;
	min-height: 100vh;
    position: relative;
}

.canvas-root {
	height: 50vw;
	left: 50%;
	margin: 0 auto;
	max-height: 700px;
    max-width: 1400px;
	position: absolute;
	top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
	z-index: 2;
}

@media (max-width: 767px) { 
	.root {	
		flex-flow: column;
	}
}

@media (max-width: 575px) { 
	p, a {
		font-size: 1.6rem;
	}
}

.circled {
    position: relative;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='799.9999999999999' height='600' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3ctitle%3eLayer 1%3c/title%3e%3cpath stroke-width='20' fill-opacity='0' d='m712.51315,220.58786c-4.52518,-3.39526 -8.45663,-9.61003 -25.64269,-20.37158c-78.9989,-49.4674 -197.51304,-86.44617 -295.64517,-81.48632c-160.04827,8.08927 -257.24346,56.00355 -307.71232,96.765c-54.65476,44.1422 -73.79264,90.88427 -73.91129,120.53184c-0.21594,53.95104 52.90695,114.76115 96.5372,130.71763c124.77318,45.63214 321.97122,7.67535 422.35025,-42.44079c159.16169,-79.46452 196.09119,-166.36789 220.22549,-203.71579l22.62591,-49.23132l18.10072,-45.83605l3.01679,-13.58105' id='svg_22' stroke='%237f7f7f' fill='%23ffffff'/%3e%3c/g%3e%3c/svg%3e");
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/* 
// Medium devices (tablets, 768px and up)
@media (max-width: 767px) { ... }

// Large devices (desktops, 992px and up)
@media (max-width: 991px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1199px) { ... } */