@import '../../assets/variables/scss_variables';

.nav {
    height: calc(100% - 7rem);
    max-height: 50rem;
    text-orientation: sideways;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    .navList {
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        justify-content: space-between;
        padding: 7rem 2rem;
        text-transform: uppercase;
        .navLink {
            position: relative;
            &:before, &.currentNavLink:before {
                background-color: rgba($accent_color, .5);
                border-radius: 50%;
                content: '';
                height: 0;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all .3s;
                width: 0;
                z-index: -1;
            }
            &:hover:before, &.currentNavLink:before {
                height: 4rem;
                width: 4rem;
            }
            &.currentNavLink:before {
                background-color: rgba($accent_color_secondary, .25);
                transition: all .3s;
            }
            &.currentNavLink:hover:before {
                background-color: rgba($accent_color, .5);
            }
        }
    }
}


@media (max-width: 767px) { 
    .mobileNav {
        background-color: var(--backgroundColor);
        box-shadow: -4px 2px 19px 1px rgba($dark_color, .15);
        -moz-box-shadow: -4px 2px 19px 1px rgba($dark_color, .15);
        -webkit-box-shadow: -4px 2px 19px 1px rgba($dark_color, .15);
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        width: 80vw;
        z-index: 1;
        .navList {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 2rem;
            text-align: center;
            text-transform: uppercase;
            .navLink {
                display: block;
                padding: 1rem;
                position: relative;
                width: 80vw;
                &:before, &.currentNavLink:before {
                    background-color: rgba($accent_color, .5);
                    content: '';
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .3s ease-in;
                    width: 0;
                    z-index: -1;
                }
                &:hover:before, &.currentNavLink:before {
                    height: 100%;
                    width: 100%;
                }
                &.currentNavLink:before {
                    background-color: rgba($accent_color_secondary, .25);
                    transition: all .3s ease-in;
                }
                &.currentNavLink:hover:before {
                    background-color: rgba($accent_color, .5);
                }
            }
        }
    }
}